/* Source: https://github.com/MrOtherGuy/firefox-csshacks */
/* about:config > toolkit.legacyUserProfileCustomizations.stylesheets set to true */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* Diable Proton UI*/
:root[id]{
  --proton-tab-block-margin: 0px !important;
  --tab-block-margin: 0px !important;
  --tabs-shadow-size: 1px !important;
  
  /* Remove next line if you want selected tab to have color other than toolbar background - then it follows your theme color  */
  --lwt-selected-tab-background-color: var(--toolbar-bgcolor) !important; 
}

/* Uncomment next line to force specific color for tab top line */
/* #tabbrowser-tabs{ --tab-line-color: blue !important; } */

/* These next two rules set a color for border around tabs and between tabs & navigation toolbars. Set to transparent to remove the border.*/
#nav-bar{
  /* This overrides value in compact_proton.css */
  box-shadow: 0 -1px 0 0 color-mix(in srgb, currentcolor 30%, transparent) !important;
}
.tab-background[selected]{
  border-inline: 0px solid color-mix(in srgb, currentcolor 30%, transparent) !important;
}

#TabsToolbar{
  --toolbarbutton-inner-padding: 7px !important;
}
#navigator-toolbox:not([movingtab]) > #titlebar > #TabsToolbar{
  --toolbar-bgcolor: transparent;
}

#TabsToolbar .toolbarbutton-1 > .toolbarbutton-badge-stack,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon{ border-radius: 2px !important;  }

#scrollbutton-up,
#scrollbutton-down{ border-radius: 0 !important; border-width: 0 !important; padding-inline: 3px !important; }

/* tab shaping */
.tabbrowser-tab{ padding-inline: 0 !important; }

:root[uidensity="compact"] #tabbrowser-tabs[positionpinnedtabs] .tabbrowser-tab[pinned]{ min-height: calc(var(--tab-min-height) + 2px) !important; }

.tab-content[pinned]{ padding-inline: 11px !important; }

.tab-background{
  border-radius: 6px !important;
  box-shadow: none !important;
}

/* Line to mark selected tab */
.tab-background[selected]::before,
.tabbrowser-tab:hover > stack > .tab-background::before{
  display: -moz-box;
  height: 2px;
  content: "";
}
.tab-stack:hover > .tab-background::before{
  background-color: inherit;
}
.tab-stack > .tab-background[selected]::before{
  background-color: highlight;
  background-image: linear-gradient(var(--tab-line-color),var(--tab-line-color));
}
/* Photon-like tab on hover animation for the top line */
@keyframes tab-onhover-line-anim{ from{ margin-inline: 20px } to { margin-inline: 0 } }

.tab-stack:hover > .tab-background::before{ animation: tab-onhover-line-anim 160ms }

/* Disable animation for selected and pinned tabs */
.tabbrowser-tab:is([pinned],[selected]) > .tab-stack > .tab-background::before{ animation: none }

/* moves context-line to the bottom */
.tab-context-line{ -moz-box-ordinal-group: 2; margin-inline: 10px !important; }


/* Source file https://teddit.net/r/FirefoxCSS/comments/oiycgx/restore_tab_separator_lines/h4yuli3/#c */
/* Bring back tab separator lines that were removed in Proton */

.tabbrowser-tab:not(:hover, [beforehovered], [selected], [last-visible-tab], [beforeselected-visible])::after {
  content: "";
  display: block;
  border-left: 1px solid currentColor;
  margin-block: 1px;
  margin-left: -1px;
  opacity: 0.3;
}

/* Use Bookmark Star Icon for Library */
#library-button .toolbarbutton-icon {
/* 	list-style-image: url("chrome://browser/skin/bookmark-hollow.svg"); */
/* 	list-style-image: url("chrome://browser/skin/bookmark.svg"); */
	list-style-image: url("chrome://browser/skin/bookmark-star-on-tray.svg");
/* 	list-style-image: url("chrome://browser/skin/bookmarks-toolbar.svg"); */
}

/* Remove left tabbar padding when not maximized. */
.titlebar-placeholder[type="pre-tabs"], /* Firefox 64 */
.titlebar-spacer[type="pre-tabs"] { /* Firefox 65 */
	width: 0px !important;
}

/* Don't animate fullscreen switch. */
#navigator-toolbox[fullscreenShouldAnimate] {
	transition: 0s margin-top !important;
}

/* Scrollbar */
:root{
	scrollbar-color: #336699 #000000;
	scrollbar-width: thin;
}
